$pink-color: #E2195B;
$pink-color-dark: #941d62;
$pink-color-rgba: rgba(226, 25, 91, 1);
$pink-color-rgba-opacity-50: rgba(226, 25, 91, 0.5);

$primary-color: #BE138E;
$secondary-color: #FFB800;
;
$secondary-dark-color: #2F2547;
$background-color: #211938;
